/********************TAG SELECTORS********************/

a {
    color: #11999e;
    font-family: 'Roboto', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: white;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #40514E;
}

h1 {
    color: #66BFBF;
    font-family: 'Playfair Display', serif;
    font-size: 350%;
    margin: 0 auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-size: 2rem;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
}

h4 {
    color: #11999E;
}

hr {
    border: dotted #eaf6f6 6px;
    /* border: dotted #66BFBF 6px; */
    border-bottom: none;
    width: 4%;
    margin: 80px auto
}

p {
    line-height: 2;
    text-align: justify;
}

td {
    vertical-align: top;
}

ul {
    line-height: 2;
}

/********************CLASS SELECTORS********************/

.analytical {
    width: 160px;
    padding-right: 30px;
    padding-bottom: 30px;
    float: left
}

.bottom-cloud {
    position: absolute;
    width: 10%;
}

.bottom-container {
    background-color: #66BFBF;
    position: relative;
    padding: 1rem
}

.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, rgba(7, 135, 135, 0.31));
    background-image: -moz-linear-gradient(top, #66BFBF, rgba(7, 135, 135, 0.31));
    background-image: -ms-linear-gradient(top, #66BFBF, rgba(7, 135, 135, 0.31));
    background-image: -o-linear-gradient(top, #66BFBF, rgba(7, 135, 135, 0.31));
    background-image: -webkit-gradient(to bottom, #66BFBF, rgba(7, 135, 135, 0.31));
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    padding: 20px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 20px auto 40px auto;
}

.btn:hover {
    border: solid #66BFBF 1px;
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #83C1C1);
    background-image: -moz-linear-gradient(top, #66BFBF, #83C1C1);
    background-image: -ms-linear-gradient(top, #66BFBF, #83C1C1);
    background-image: -o-linear-gradient(top, #66BFBF, #83C1C1);
    background-image: -webkit-gradient(to bottom, #66BFBF, #83C1C1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.connect {
    text-align: center;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    position: relative;
    top: 25px;
    text-align: center;
}

.cv_button {
    font-size: 1.3em;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 100px;
    font-weight: bold;
}

.efficient {
    width: 160px;
    padding-right: 30px;
    padding-bottom: 30px;
    float: left
}

.empathetic {
    width: 160px;
    padding-left: 30px;
    padding-bottom: 30px;
    float: right
}

.employment-row {
    display: inline-block;
    margin: 15px auto;
    text-align: left;
    width: 80%
}

.header {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #eaf6f6;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

.home_button {
    font-size: 1.3em;
    display: block;
    position: absolute;
    /* left: 50px; */
    bottom: 20px;
    font-weight: bold;
}

.intro {
    margin: auto;
    position: center;
    width: 35%;
}

.jpa {
    padding-right: 30px;
    text-align: center;
    vertical-align: middle;
}

.maybank {
    width: 160px;
}

.middle-container {
    margin: 60px 0;
}

.mountain {
    width: 45%;
}

.name-header {
    font-weight: normal;
}

.publicis {
    width: 160px;
}

.skill-icon {
    vertical-align: middle;
    padding-left: 40px;
    text-align:center;
}

.skill-row {
    display: inline-block;
    margin: 15px auto;
    text-align: left;
    width: 50%;
}

.skill-table {
    position: center;
    display: inline-block;
    margin: 15px auto;
    text-align: left;
}

.summary {
    margin: auto;
    position: center;
    width: 50%;
}

.tech-savvy {
    width: 160px;
    padding-left: 30px;
    padding-bottom: 30px;
    float: right
}

.top-cloud {
    position: absolute;
    right: 27.5%;
    width: 10%;
}

.top-container {
    background-color:#eaf6f6;
    position: relative;
    padding-top: 80px;
    
}

.ucl {
    padding-right: 30px;
    vertical-align: middle;
}



/* Responsive Tables (Employment + Awards + Education)
======================================================= */
.Rtable {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 70%;
    text-align: left;
    background-color: white;
    
}

.Rtable-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 80%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    background: white;
}

.Rtable-cell--head {
    box-sizing: border-box;
    flex-grow: 1;
    width: 20%;
    padding-top: 2em;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    background: white;
    text-align: center;
}

/* Responsive 
================================= */
@media all and (max-width: 1500px) {
    .Rtable--collapse {
    display: block;
    }

    .Rtable--collapse > .Rtable {
    width: 100% !important;
    }

    .Rtable--collapse > .Rtable-cell {
    width: 100% !important;
    }

    .Rtable--collapse > .Rtable-cell--head {
    width: 100% !important;
    }
}

.no-flexbox .Rtable {
    display: block;
}

.no-flexbox .Rtable > .Rtable-cell {
    width: 100%;
}

/* Responsive Tables (Skills)
======================================================= */
.s-table {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 59%;
    text-align: left;
    background-color: white;
    
}

.s-table-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 25%;
    /* width: 22%; */
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    background: white;
}

.s-table-cell--head {
    box-sizing: border-box;
    flex-grow: 1;
    width: 8%;
    /* width: 10%; */
    padding-top: 2em;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    background: white;
    text-align: center;
}

/* Responsive 
================================= */
@media all and (max-width: 1500px) {
    .s-table--collapse {
    display: block;
    }

    .s-table--collapse > .s-table {
    width: 100% !important;
    text-align: center;
    }

    .s-table--collapse > .s-table-cell {
    width: 100% !important;
    text-align: center;
    }

    .s-table--collapse > .s-table-cell--head {
    width: 100% !important;
    text-align: center;
    }
}

.no-flexbox .Rtable {
    display: block;
}

.no-flexbox .Rtable > .Rtable-cell {
    width: 100%;
}

