/********************TAG SELECTORS********************/

a {
    color: #11999e;
    font-family: 'Roboto', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #40514E;
}

h1 {
    color: #66BFBF;
    font-family: 'Playfair Display', serif;
    font-size: 562.5%;
    margin-top: 50px auto 0 auto; 
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
}

h4 {
    color: #11999E;
}

hr {
    border: dotted #eaf6f6 6px;
    /* border: dotted #66BFBF 6px; */
    border-bottom: none;
    width: 4%;
    margin: 80px auto
}

p {
    line-height: 2;
}

td {
    vertical-align: top;
}

ul {
    line-height: 2;
}

/********************CLASS SELECTORS********************/

.analytical {
    width: 25%;
    padding-right: 30px;
    float: left
}

.bottom-cloud {
    position: absolute;
}

.bottom-container {
    background-color: #66BFBF;
    position: relative;
    padding: 1rem
}

.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, rgba(7, 135, 135, 0.31));
    background-image: -moz-linear-gradient(top, #66BFBF, rgba(7, 135, 135, 0.31));
    background-image: -ms-linear-gradient(top, #66BFBF, rgba(7, 135, 135, 0.31));
    background-image: -o-linear-gradient(top, #66BFBF, rgba(7, 135, 135, 0.31));
    background-image: -webkit-gradient(to bottom, #66BFBF, rgba(7, 135, 135, 0.31));
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    padding: 20px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 20px auto 40px auto;
}

.btn:hover {
    border: solid #66BFBF 1px;
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #83C1C1);
    background-image: -moz-linear-gradient(top, #66BFBF, #83C1C1);
    background-image: -ms-linear-gradient(top, #66BFBF, #83C1C1);
    background-image: -o-linear-gradient(top, #66BFBF, #83C1C1);
    background-image: -webkit-gradient(to bottom, #66BFBF, #83C1C1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    position: relative;
    top: 25px
}

.cv_button {
    font-size: 1.3em;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 250px;
}

.efficient {
    width: 25%;
    padding-right: 30px;
    float: left
}

.empathetic {
    width: 25%;
    padding-left: 30px;
    float: right
}

.header {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #eaf6f6;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

.home_button {
    font-size: 1.3em;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 100px;
}

.intro {
    margin: auto;
    position: center;
    width: 35%;
}

.jpa {
    padding-right: 30px;
    text-align: center;
    vertical-align: middle;
}

.maybank {
    padding-right: 30px;
}

.middle-container {
    margin: 60px 0;
}

.name-header {
    font-weight: normal;
}

.publicis {
    padding-right: 30px;
}

.skill-icon {
    vertical-align: middle;
    padding-left: 40px;
    text-align:center;
}

.skill-row {
    display: inline-block;
    margin: 15px auto;
    text-align: left;
    width: 50%;
}

.skill-table {
    position: center;
    display: inline-block;
    margin: 15px auto;
    text-align: left;
}

.summary {
    margin: auto;
    position: center;
    width: 50%;
}

.tech-savvy {
    width: 25%;
    padding-left: 30px;
    float: right
}

.top-cloud {
    position: relative;
    top: 200px;
    left: 280px;
}

.top-container {
    background-color:#eaf6f6;
    position: relative;
    padding: 100px auto
}

.ucl {
    padding-right: 30px;
    vertical-align: middle;
}











